/* User defined style */

/*
Example for Microsoft Office Word 2007 (DOCX)

DOCX custom styles are annotated into data-custom-style.
*/
[data-custom-style="gesis_orange"],
[data-custom-style="gesis_orange Char"] {
    color: #FF6100;
}

.methods_hub_nav_teaser {
    position: relative;
}

.methods_hub_nav_teaser img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    display: block;
    object-fit: cover;
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} */

#carouselExampleCaptions {
    margin-bottom: 20px;
}

/* Mobile fixes */
@media (max-width: 768px) {
    .image-container { height: 250px !important; }
    .methods_hub_nav_teaser { margin-bottom: 15px; }
    .quarto-listing-gallery .listing-item { margin-bottom: 10px; }
    .g-col-4 { 
        width: 100% !important; 
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .grid { 
        display: flex !important;
        flex-direction: column !important;
    }
    .tile {
        margin-bottom: 20px !important;
    }
}

/* Truncate method titles in the gallery */
h3.method_title_gallery {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Show full text on hover */
h3.method_title_gallery:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    background: #fff;
    border-radius: 4px;
    left: 0;
    white-space: normal;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Embeded PDF height */
embed.img-fluid {
    height: 800px;
}

/* DOI Appendix Ordering*/
#quarto-appendix {
    display: flex;
    flex-direction: column;
}
/* DOI section should be last */
#quarto-appendix .doi-section {
    order: 3 !important;
}

